:root{
    --fuenteHeading: 'PT Sans', 'sans-serif';
    --fuenteParrafos: 'Open Sans', 'sans-serif';

    --primario: #1c3859;
    --secundario: #abc274;
    --terceario: #b4baa8;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: var(--primario);
}
a:hover{
    text-decoration: underline;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.marco{
    background-color: var(--primario);
    width: 90%;
    height: 40px;
    border-radius: 15px 15px 0 0;
    margin-left: 5%;
    margin-top: 20px;
    text-align: right;
}
.marco__encabezado{
    font-size: 1.1rem;
    font-weight: 300;
    display: inline-block;
    padding-right: .5rem;
    margin-top: 1rem;
    color: white;
}
.header{
    background-color: var(--secundario);
    color: var(--primario);
    border-radius: 15px;
    padding: 20px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__i{
    padding: 6px;
}
.header__thumbnail{
    width: 100px;
    height: 30px;
    margin: 0 auto;
}
.header__img{
    width: 100%;
    border-radius: 5px;
    margin-top: -80px;
}
.header__nombre{
    font-family: var(--fuenteHeading);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.dato{
    display: flex;
    align-items: center;
    line-height: 1px;
}
.dato__icono{
    margin-right: 10px;
}
.header__titulo{
    font-family: var(--fuenteHeading);
    text-align: right;
}
.complemento{
    background-color: var(--primario);
    font-size: var(--fuenteParrafos);
    width: 90%;
    margin: 0 auto;
    color: white;
    padding-top: 1px;
    padding-bottom: 5px;
}
.componente__titulo{
    font-family: var(--fuenteHeading);
    margin-left: 10px;
}
.componente__separador{
    width: 90%;
    margin: 0 auto;
}
.componente__texto{
    padding-left: 20px;
}
.componente__lista{
    list-style: none;
    line-height: normal;
    margin: 0;
    padding-top: 5px;
}
.footer{
    background-color: var(--secundario);
    color: var(--primario);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


