:root{
    --fuenteHeading: 'PT Sans', 'sans-serif';
    --fuenteParrafos: 'Open Sans', 'sans-serif';

    --primario: #1c3859;
    --secundario: #abc274;
    --terceario: #62635d;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: var(--primario);
}
a:hover{
    text-decoration: underline;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.inicio{
    display: none;
}
.experiencia{
    display: none;
}
.marco{
    background-color: var(--primario);
    width: 90%;
    height: 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-left: 5%;
    margin-top: 2rem;
    text-align: right;
}
.marco__encabezado{
    font-size: 1.1rem;
    font-weight: 300;
    display: inline-block;
    padding-right: .5rem;
    margin-top: 1rem;
    color: white;
}
.header{
    background-color: var(--secundario);
    color: var(--primario);
    border-radius: 1.5rem;
    padding: 2rem;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.menu-inicio, .izq-inicio{
    color: gray;
}
.header__i{
    padding: .6rem;
}
.header__thumbnail{
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
}
.header__img{
    width: 100%;
    border-radius: .5rem;
    margin-top: -8rem;
}
.header__nombre{
    font-family: var(--fuenteHeading);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.dato{
    display: flex;
    align-items: center;
    line-height: .1rem;
}
.dato__icono{
    margin-right: 1rem;
}
.header__titulo{
    font-family: var(--fuenteHeading);
    text-align: right;
}
.complemento{
    background-color: var(--primario);
    font-size: var(--fuenteParrafos);
    width: 90%;
    margin: 0 auto;
    color: white;
    padding-top: .1rem;
    padding-bottom: .5rem;
}
.componente__titulo{
    font-family: var(--fuenteHeading);
    margin-left: 1rem;
}
.separador{
    width: 90%;
    margin: 0 auto;
}
.separador--color{
    height: .2rem;
    background-color: var(--primario)
}
.componente__texto{
    padding-left: 2rem;
}
.componente__lista{
    list-style: none;
    line-height: normal;
    margin-left: -1.5rem;
    padding-top: .5rem;
}
.laboral{
    padding: 1rem 0 1rem 0;
    border-bottom: .2rem dotted #1c3859; 
}
.laboral__tiempo{
    color: var(--terceario);
    font-weight: 600;
    border-radius: .5rem;
    margin: 1px;   
}
.laboral__lugar{
    text-align: center;
}
.laboral__cargo{
    color: var(--primario);
}
.laboral__tareas{
    line-height: normal;
    margin: 0;
}
.footer{
    background-color: var(--secundario);
    color: var(--primario);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}


